<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prasunmondal.mbros20">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.common.Dashboard"></activity>
        <activity
            android:name=".activities.common.LoadingScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_loading_screen"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".session_data.SubmitDeliveryActivity" />
        <activity android:name=".PrepareAppDataFetch" />
        <activity android:name=".activities.SelectActivityManager" />
        <activity android:name=".activities.UserRoleSelect"></activity>
        <activity android:name=".activities.BillingActivity" />
        <activity android:name=".activities.DeliveryDenominations" />
        <activity android:name=".activities.ViewOrders" />
        <activity android:name=".activities.AddOrder" />
        <activity android:name=".activities.ViewCustomers" />
        <activity android:name=".activities.AddCustomer" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>